.section-container {
    min-width: 100%;

    display: flex;
    flex-direction: column;
    gap: 12px;

    color: black;
    font-weight: 500;
}

.section-container-thread {
    width: 97.5%;
    min-height: 150px;

    box-sizing: border-box;
    padding: 20px;
    background-color: #a8a8a82b;
    border-radius: 10px;

    /* display: flex;
    flex-direction: column; */
    gap: 10px;
    font-size: 0.95rem;
    font-weight: 400;

    /* position: absolute; */
}

.section-container-thread-text {
    min-height: 60px;
    overflow: auto;
}

.section-container-thread-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 1.05rem;
    font-weight: 500;
}

.section-container-thread-action-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;

    color: blue;
    font-weight: 500;
}

.section-container-thread-action-button span {
    cursor: pointer;
}

.section-container-thread-delete-button {
    display: inline-block;
    position: relative;
    /* top: -64px; */
    right: -100.75%;
    cursor: pointer;
}

.section-container-thread-reply {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.section-container-thread-reply > div{
    width: 80%;
}

.section-container-thread-reply-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-container-thread-reply-newReply-child {
    width: 97.5%;
}

.section-container-thread-header-comment-edited {
    margin-left: 5px;
    font-size: 0.6rem;
    font-weight: 400;
}